.manage{
  height: 685px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .manage-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .manage-content {
    overflow: auto;
  }
}