template {
    padding: 0;
    margin: 0;
}
#container { 
    font-family:  Calibri, "华文细黑";
    height: 100vh;
    margin: 15px 23px 40px;
    #info {
        width: 100%;
        display: flex;
        #name {
            width: 60%;
            display: flex;
            flex-wrap: wrap;
            padding: 22px 0px 11px 23px;
            
            h2 {
                width: 100%;
                text-align: center;
                margin: 0;
                height: 35px;
                padding-right: 23px;
            }
            p {
                width: 50%;
                height: 25px;
                margin: 0;
            }
        }
        #photo {
            width: 40%;
            text-align: center;
            img {
                width: 109px;
                height: 152px;
            }
        }
    }
    #item {
        ol {
            margin-top: 5px;
            margin-bottom: 10px;
        } 
    }
    #school {
        padding-left: 23px;
        padding-right: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .school-text {
            width: 100%;
            line-height: 25px;
            margin: 5px 0 0 0;
        }
    }
    #evalue {
        .evalue-text {
            line-height: 25px;
            padding-left: 23px;
            margin-top: 12px;
        }
    }
     
}
section {
    margin: 12px 0;
}
h3 {
    padding-bottom: 9px;
    border-bottom: 2px solid black;
    margin: 0;
}
ol {
    margin: 0;
    li {
    line-height: 25px;
    }
}
h4 {
    margin: 0;
}


     
